.headerLeft {
    font-weight: 400;
    font-size: 20px;
    padding-left: 116px;
}

.respHeaderLogo {
    display: none;
    height: 50px;
    width: auto;
}


.headerRight {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 40px;
}

.headerRight img {
    height: 32px;
    width: 32px;
}

.initials {
    border: 3px solid #2A3647;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    color: #29ABE2;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

.headerRight img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.initials:hover {
    cursor: pointer;
    background-color: rgb(225, 230, 236);
}

.dropdown {
    top: 96px;
    right: 0px;
    padding: 10px;
    position: absolute;
    background-color: #2A3647;
    color: #CDCDCD;
    border-radius: 20px 0px 20px 20px;
    display: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    z-index: 99999;
}

.headerDropDownButton {
    display: flex;
    width: 130px;
    height: 46px;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    background-color: #2A3647;
    color: #CDCDCD;
    border: none;
}

.headerDropDownButton:hover {
    cursor: pointer;
    background-color: #2a3d59;
}

@media(max-width: 1000px){
    .headerLeft{
        padding-left: 64px;
    }
}

@media(max-width: 760px) {
    .headerLeft span {
        display: none;
    }

    .headerLeft {
        padding-left: 16px;
    }

    .respHeaderLogo {
        display: flex;
    }

    .headerRight {
        padding-right: 16px;
        width: auto;
    }
}