<div class="header">
        <div class="headerLeft">
            <span>Kanban Project Management Tool</span>
            <img class="respHeaderLogo"  src="./img/Capa 2.svg">
        </div>
        <div class="headerRight" id="headerRight">
            <img onclick="renderHelp()" src="./img/help.svg" alt="help">
            <div class="initials" id="initials" onclick="toggleDropdown()">
              G
            </div>
            <div class="dropdown" id="dropdown">
                <button class="headerDropDownButton" onclick="renderLegalNotice()">Legal Notice</button>
                <button class="headerDropDownButton" onclick="renderPrivacyPolicy()">Privacy Policy</button>
                <button class="headerDropDownButton" onclick="window.location.href = 'index.html'" >Log out</button>
            </div>
        </div>
</div>