<div class="navBar">
    <div class="navBarContent special">
        <!-- navbar content here with navBar.css  -->
        <div class="navLogo">
            <img id="navLogo" onclick="renderSummary()" src="./img/Capa 1.svg" alt="Logo">
        </div>
        <div class="navItems special">
            <div class="navItem navSummary  responsive" id="summary" onclick="renderSummary()"><img src="./img/summary.svg" alt=""> Summary</div>
            <div class="navItem navAddTask responsive" id="addTask" onclick="renderAddTask()"><img src="./img/addTask.svg" alt=""> AddTask</div>
            <div class="navItem navBoard responsive" id="board" onclick="renderBoard()"><img src="./img/board.svg" alt=""> Board</div>
            <div class="navItem navContacts responsive" id="contacts" onclick="renderContacts()"><img src="./img/contacts.svg" alt=""> Contacts</div>
        </div>
        
        <div class="navFooter">
            <div class="navItem" id="privacyPolicy" onclick="renderPrivacyPolicy()">Privacy Policy</div>
            <div class="navItem" id="legalNotice" onclick="renderLegalNotice()">Legal Notice</div>
        </div>
        
    </div>
</div>